.button {
  /* display: inline-flex; */
  text-align: center;
  background-color: var(--gray);
  color: var(--white);
  padding: 0.43rem 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 0.85rem;
  /* margin: 1rem 1rem 1rem 0px; */
  /* width: 100%; */
  /* padding: 0.6rem 2rem; */
  /* background-color: ${(props) => props.variant === "sucess" ? "#198754"}; */
}


.button:hover,
.button:active {
  background-image: linear-gradient(rgb(0 0 0/20%) 0 0)
}

.button:focus {
  background-image: linear-gradient(rgb(0 0 0/20%) 0 0)
}
