.backdrop {
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.673); */
  z-index: 111;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
  z-index: 120;
  background-color: white;
  box-shadow: 0 2px 8px, var(--foreground);
  border-radius: 3px;
  /* position: fixed; */
  width: 30rem;
  /* overflow: hidden; */
  border: 1px solid var(--foreground);
}

.header {
  background: var(--ps-blue);
  padding: 0.4rem;
}

.content {
  padding: 0.5rem;
  background-color: var(--white);
}

@media (min-width: 500px) {
  .container {
    left: calc(50% - 23rem);
    background-color: azure;
  }
}
